xterm*vt100.faceName: unifont
xterm*faceSize: 12
xterm*termName: xterm

URxvt*font: xft:Unifont:size=12
!URxvt*background: #383c4a
urxvt*termName:                 rxvt
urxvt*scrollBar:                false
urxvt*matcher.button:           1
urxvt.transparent:              true
urxvt.shading:                  20
urxvt*depth:                    32
URxvt*background:               rgba:4100/4800/5800/c800
urxvt.boldFont:
Xft*dpi:                        96
Xft*antialias:                  true
Xft*hinting:                    true
Xft*hintstyle:                  hintfull
Xft*rgba:                       rgb
Rxvt*geometry:                 85x20
*internalBorder:                23
Rxvt*fading:                   0
Rxvt*tintColor:                #ffffff
Rxvt*shading:                  0
Rxvt*inheritPixmap:            False
*background:                    #000000
*foreground:                    #d7d7d7
*cursorColor:                   #c7c7c7
*highlightTextColor:            #383c4a
*highlightColor:                #c1ddff
! black
*.color0:                       #383c4a
*.color8:                       #383c4a
! red
*.color1:                       #e28d9d
*.color9:                       #e28d9d
! green
*.color2:                       #bfd888
*.color10:                      #bfd888
! yellow
*.color3:                       #df936c
*.color11:                      #df936c
! blue
*.color4:                       #5294e2
*.color12:                      #5294e2
! magenta
*.color5:                       #f74771
*.color13: 		#f74771
! cyan
*.color6: 		#7c818c
*.color14: 		#7c818c
! white
*.color7: 		#d7d7d7
*.color15: 		#d7d7d7
